body {
  background-color: silver;
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    
}
#example{
  position: absolute;
  top: 80px;
  left: 35px;
  right: 0;
  width: 200px;
  height: 20px;
}
  
  ol, ul {
    padding-left: 50px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: 20px;
    height: bold;
  }
  /*
  .player1{
 font-style: italic;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  position: absolute;
  top: 30px;
  left: 35px;
  right: 0;
  width: 200px;
  height: 20px;
  box-shadow: 5px 5px;
  } 
  .player2{
  font-style: italic;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  position: absolute;
  top: 60px;
  left: 35px;
  right: 0;
  width: 200px;
  height: 20px;
  box-shadow: 5px 5px;
  }
  */
  .square {
    background: #fff;
    border: 3px solid;
    padding: 10px;
    box-shadow: 5px 10px;
    float: left;
    font-size: 34px;
    font-weight: bold;
    line-height: 34px;
    height: 64px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 64px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: inline-flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  #root{
    display: flex;
    justify-content: center; 
  }

  